@import "tailwindcss";

:root {
  --background: oklch(95.1% 0.026 236.824);
  --text: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.shadowCustom {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

@media (width < 640px) {
  .shadowCustom {
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
  }
}
