@import "tailwindcss";

:root {
  --background: oklch(95.1% 0.026 236.824);
  --text: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.shadowCustom {
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

/* 
bg-neutral-50 - main card     oklch(98.5% 0 0)
#oklch(14.5% 0 0) - waves   
bg-blue-100 buttons     oklch(93.2% 0.032 255.585)
hover:bg-blue-200 - buttons     oklch(88.2% 0.059 254.128)

*/
